* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background: #c9eeff;
}

div.widget {
  position: relative;
  right: 100px;
  bottom: 50px;
  width: 280px;
  height: 120px;
  margin: 150px auto;
  background-image: url("../img/0-02-05-b332cdf62ae68d643fe7c4357d91e89c6b39679ac98f9f036d2627834404acfa_1c6db0b1c5b70d.jpg");
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
  margin-top: 100px;
  margin-right: 300px;
}

div.date {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 10px;
}

div.city {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 120px;
}

div.temp {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  top: 10px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
  margin-left: 100px;
}

div.panel {
  display: inline-block;
}

div.right-panel {
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}
.wind {
  margin-right: 250px;
  font-size: 20px;
  margin-bottom: 70px;
  margin-right: 200px;
}
.container {
  display: flex;
}

.slika1 {
  width: 200px;

  margin-right: 120px;
  margin-top: 50px;
  position: relative;
  right: 150px;
}
.tekst {
  position: relative;
  right: 200px;
  font-size: 50px;
  bottom: 40px;
}
.widget1 {
  position: relative;
  bottom: 30px;
}
.unos-lokacije {
  position: relative;
  bottom: 30px;
}
.btn-lokacija {
  width: 100px;
  height: 40px;
}
